.result-box {
    font-family: monospace;
    font-size: 1.2rem;

    background: #f8f9fa;
    border-radius: 8px;

    /*white-space: nowrap;
    overflow-x: auto;*/

    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

.progress-bar {
    transition: width 0.4s ease;
}